bin
/Backend/DataPopulation/obj
/Backend/WebServices/obj
/Backend/WebServices/PrivateSettings.config
/Backend/DataPopulation/DataPopulation.dbmdl
/Backend/packages
/Frontend/TODO_Tasks.txt
/Backend/DAL/obj
