<div class="row row-margin-ignore">
	<loader ng-if="isDataLoading"></loader>
	<div class="full-width text-align-center">
		<ul class="breadcrumb background-inherit">
			<li>
				<a class="hover color-light-gray" ng-click="showAllArticles()">
					All
				</a>
			</li>
			<li ng-repeat="category in categories | orderBy:['-articlesLength', 'name']">
				<a class="hover color-light-gray" ng-click="showCategoryArticles(category.id)">
					{{category.name}}
				</a>
			</li>
		</ul>
	</div>
</div>

<div class="row row-margin-ignore min-height-1250">
	<div class="col-xs-12 margin-bottom-30 min-height-200" 
			dir-paginate="article in articles | orderBy:'createdDate' | itemsPerPage:5">

		<div class="row margin-bottom-20 row-margin-ignore">
			<span ng-bind="article.title" class="wrap-text font-size-30 hover"
			ng-click="redirectToArticle(article.id)"></span>
			<span class="pull-right">{{article.createdDate | date:'dd/MM/yyyy'}}</span>
		</div>

		<div class="row row-margin-ignore">
			<div class="col-xs-2 col-padding-ignore">
				<img src="" ng-src="{{article.imageURL}}" alt="Article image" ng-click="redirectToArticle(article.id)"
				class="col-xs-12 col-padding-ignore cursor-pointer" height="150">
			</div>
			<div class="col-xs-9">
				<div ng-bind-html="article.content.substring(0, 100) + '...'"></div>
			</div>
		</div>
	</div>
</div>

<div class="full-width text-align-center">
	<dir-pagination-controls boundary-links="true" template-url="/views/dirPagination.tpl.html"></dir-pagination-controls>
</div>