<div class="col-xs-4 col-xs-offset-4">
	<loader ng-if="isDataLoading"></loader>
	<form class="form-horizontal" role="form">
	    <div class="form-group">
	      <label class="col-sm-12" for="email">E-mail:</label>
	      <div class="col-sm-12">
	        <input type="email" ng-model="reg.email" ng-change="emailChange()" class="form-control" id="email" placeholder="Enter E-mail">
	        <p class="help-block" ng-if="invalidEmail">Please provide a correct E-mail</p>
	      </div>
	    </div>
	    <div class="form-group">
	      <label class="col-sm-12" for="pwd">Password:</label>
	      <div class="col-sm-12">          
	        <input type="password" ng-model="reg.password" ng-change="passChange()" class="form-control" id="pwd" placeholder="Enter password">
	        <p class="help-block" ng-if="invalidPassword">Password should be at least 4 characters</p>
	      </div>
	    </div>
	    <div class="form-group">
	      <label class="col-sm-12" for="cpwd">Confirm password:</label>
	      <div class="col-sm-12">          
	        <input type="password" ng-model="reg.confPassword" ng-change="confPassChange()" class="form-control" 
	        id="cpwd" placeholder="Confirm password">
	        <p class="help-block" ng-if="invalidConfPassword">Please confirm password</p>
	        <p class="help-block" ng-if="invalidPasswords">Passwords does not match</p>
	      </div>
	    </div>
	    <div class="form-group">       
	      <div class="col-sm-12">
	        <button type="submit" class="btn btn-default" ng-click="register()">Register</button>
	      </div>
	    </div>
	</form>
</div>