html, body {
	height: 100%
}

body {
	font-family: 'Fjord One', serif;
	font-size: 15px;
}

#body {
	background-image: url(../images/background.jpg);
	min-width: 1024px;
}

#view {
	min-height: 900px;
	background-color: #333;
	color: white;
	padding: 20px;
	opacity: 0.95;
	overflow: auto;
}

#wrapper {
	min-height: 1200px;
}

#main-content {
	width: 90%;
	margin: auto;
	margin-bottom: 30px;
}

#main-header {
	background-color: #333;
}

#main-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#main-header li {
    float: left;
}

#main-header li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#main-header li a:hover {
    background-color: #111;
}

#footer {
	width: 100%;
	background: url('../images/footer.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	/*background-color: #333;*/
	height: 400px;
	overflow: hidden;
}

#facebook-sprite {
	width: 100px;
	height: 96px;
	background: url('../images/social-icons.jpg') 0 0;
	zoom: 0.5;
}

#facebook-sprite:hover {
	width: 100px;
	height: 96px;
	background: url('../images/social-icons.jpg') 0 -100px;
}

#twitter-sprite {
	width: 100px;
	height: 96px;
	background: url('../images/social-icons.jpg') -100px 0;
	zoom: 0.5;
}

#twitter-sprite:hover {
	width: 100px;
	height: 96px;
	background: url('../images/social-icons.jpg') -100px -100px;
}

.lightblue {
  background-color: #5b9ad0;
}

.footer-fixed-position {
	position: inherit;
	bottom: 0;
}

.font-weight-bold {
	font-weight: bold;
}

.row-margin-ignore {
	margin-left: 0;
	margin-right: 0;
}

.white {
	background: white;
}

.float-right {
	float: right;
}

.color-white {
	color: white;
}

.text-align-center {
	text-align: center;
}

.margin-top-20 {
	margin-top: 20px;
}

.position-absolute {
	position: absolute;
} 

.bottom-0 {
	bottom: 0;
}

.margin-bottom-50 {
	margin-bottom: 50px
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-auto {
	margin: auto;
}

.text-align-right{
	text-align: right;
}

.resize-vertical {
	resize: vertical;
}

.overflow-hidden {
	overflow: hidden;
}

.max-height-300 {
	max-height: 300px;
}

.margin-top-20 {
	margin-top: 20px;
}

.width-40 {
	width: 40px;
}

.col-padding-ignore {
	padding-right: 0;
	padding-left: 0;
}

.ta-toolbar {
    background-color: #F0F0F0;
    padding: 10px 10px 5px;
    margin-left: 0px;
    border: 1px solid #EEE;
    border-radius: 5px 5px 0 0;	
}

.margin-left-right-0 {
	margin-left: 0;
}

.font-size-30 {
	font-size: 30px;
}

.hover:hover {
	cursor: pointer;
	text-decoration: underline;
}

.cursor-pointer {
	cursor: pointer;
}

.max-height-300 {
	max-height: 300px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.display-inline-block {
	display: inline-block;
}

.margin-right-10 {
	margin-right: 10px;
}