html, body {
	height: 100%
}

#body {
	background-image: url(../images/background.jpg);
	min-width: 1024px;
}

#view {
	min-height: 900px;
	background-color: #333;
	color: white;
}

#wrapper {
	min-height: 1200px;
	position: relative;
}

#main-content {
	width: 90%;
	margin: auto;

}

#main-header {
	background-color: #333;
}

#main-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#main-header li {
    float: left;
}

#main-header li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#main-header li a:hover {
    background-color: #111;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #333;
}

.lightblue {
  background-color: #5b9ad0;
}

.footer-fixed-position {
	position: inherit;
	bottom: 0;
}

.font-weight-bold {
	font-weight: bold;
}

.row-margin-ignore {
	margin-left: 0;
	margin-right: 0;
}

.white {
	background: white;
}

.float-right {
	float: right;
}

.color-white {
	color: white;
}

.text-align-center {
	text-align: center;
}

.margin-top-20 {
	margin-top: 20px;
}

.position-absolute {
	position: absolute;
} 

.bottom-0 {
	bottom: 0;
}

.margin-bottom-50 {
	margin-bottom: 50px
}

.margin-bottom-20 {
	margin-bottom: 20px;
}
